cat > templates/profile/index.html.twig <<'TWIG'
{% extends 'base.html.twig' %}

{% block title %}Mon profil{% endblock %}

{% block body %}
    <h1>Mon profil</h1>

    <p>
        <strong>Email :</strong>
        {{ user.email }}
    </p>

    <p>
        <a href="{{ path('app_logout') }}">Se déconnecter</a>
    </p>
{% endblock %}
TWIG
